.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  position:absolute;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 40px;
  width:100%;
  align-content: center;
  align-items: center;
  display: flex;
}

.Config {
  background-color: rgba(255, 0, 0, 0.7);
}

.floating-header {
  float: right;
  position: absolute;
  z-index: 1000;
}
